.main-header-properties {
    background-color: #424242;
    color: #F0EDEE;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 3px 20px #6D6D6D;
}

.main-nacho-icon {
    height: 64px;
    padding: 4px;
    margin: auto 16px;
}